<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<%= form_tag('/lessons', method: 'get') do %>
<%= label_tag(:category_key, 'Search category:') %>
<%= text_field_tag(:category_key) %>
<%= submit_tag('Search') %> <%= link_to 'Clear', lessons_path %>
<% end %>

<table cellspacing="15">
  <thead>
    <tr>
      <th>Category</th>
      <th>Date and time</th>
      <th>Start</th>
      <th>Dead line</th>
      <th>Term</th>
      <th>Place</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.category %></td>
        <td><%= lesson.date_and_time %></td>
        <td><%= lesson.start %></td>
        <td><%= lesson.dead_line %></td>
        <td><%= lesson.term %></td>
        <td><%= lesson.place %></td>
        <td><%= lesson.price %></td>
        <td><%= link_to 'Show', lesson %></td>
        <% if lesson.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
          <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if lesson.max %>
          <% if lesson.participate_users.count == lesson.max %>
            <td>満員<td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
